<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/page/edit.css" />
<link rel="stylesheet" href="__PUBLIC__/editor.md/css/editormd.css" />
<style type="text/css">
.compare-box del {
    color: #FB2828;
}
.compare-box ins {
	color: #058C05;
}
.compare-box {
	padding:0 25px;
	width: 90%;
    margin: 0 auto;
}
</style>
<div id="layout">
    <!-- 顶部条 -->
    <header class="row">
        <div class="head-left  pull-left">
            <ul class="inline">
                <li>
					<a href="edit?page_id={$page_id}&page_history_id={$page_history_id}">恢复到此版本</a>&nbsp;
					<a href="history?page_id={$page_id}">历史版本</a>&nbsp;
					<if condition="$show_html">
					<a href="compare?page_id={$page_id}&page_history_id={$page_history_id}">源码对比</a>&nbsp;
					<else />
					<a href="compare?page_id={$page_id}&page_history_id={$page_history_id}&show_html=1">可视对比</a>&nbsp;
					</if>
                </li>
            </ul>
        </div>
    </header>
    <br>

    <pre class="compare-box">
        {$diffResutl}
    </pre>
</div>

<include file="Common/footer" />
