<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/page/edit.css" />
<link rel="stylesheet" href="__PUBLIC__/editor.md/css/editormd.css" />
<style type="text/css">
.btn-primary {
    background-color: #006dcc;
}

.btn-primary:hover {
    background-color: #04c;
}

#page_title,
#cat_id,
#order {
    height: 30px;
}

#cat_id {
    width: 150px;
}

#order {
    width: 120px;
    margin-right: 20px;
}
</style>
<div id="layout">
    <!-- 顶部条 -->
    <header class="row">
        <div class="head-left  pull-left">
            <ul class="inline">
                <li>
                    <!-- 首次添加没有历史版本，不显示 -->
                    <if condition="$page.page_id gt 0">
                        <a href="history?page_id={$page.page_id}">历史版本</a>
                        <else />
                    </if>
                </li>
            </ul>
        </div>
    </header>
    <br>

    <div id="editormd">
        {$diffResutl}
    </div>
</div>

<include file="Common/footer" />
