<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/page/edit.css" />
<link rel="stylesheet" href="__PUBLIC__/editor.md/css/editormd.css" />
<style type="text/css">
.del {
    color: #FB2828;
}
.ins {
	color: #058C05;
}
</style>
<div id="layout">
    <!-- 顶部条 -->
    <header class="row">
        <div class="head-left  pull-left">
            <ul class="inline">
                <li>
					<a href="edit?page_id={$page_id}&page_history_id={$value.page_history_id}">恢复到此版本</a>
                    <!-- 首次添加没有历史版本，不显示 -->
                    <if condition="$page.page_id gt 0">
                        <a href="history?page_id={$page.page_id}">历史版本</a>
                        <else />
                    </if>
                </li>
            </ul>
        </div>
    </header>
    <br>

    <pre id="editormd">
        {$diffResutl}
    </pre>
</div>

<include file="Common/footer" />
